body {background-color:whitesmoke;
      
      /*background-image:url(hg.png);*/
      font-family:calibri;
      font-size: 18px;
      
}
h1   {/*background-color:#191970;*/
      color: #e6e6fa;
      background-image:url(mks.jpg);
      /*background-repeat: no-repeat;*/
      /*background-position:none;*/
      padding-left:20px;
      /*height:72px;*/
      font-family:Calibri;
      line-height: 200%;
      margin-bottom:0;
}
nav  {font-weight:bold;
      background-color:#e6e6fa;
      padding:5px
      
}
nav a {text-decoration:none;

} 
h2   {color:#aeaed4;
     font-family:Calibri;
}
h3   {color:#191970;
 
}
div
#homehero {height:300px;
           background-image:url(11586025.jpg);
           background-size:100% 100%;
           background-repeat: no repeat;
}

main {padding-left:20px;
      padding-right:20px;
      display:block;
}
dt   {color:#000033;
      font-weight:bold
}
.resort {color:white;
         font-size:1.2em
}
footer {font-size:0.70em;
        font-style: italic;
        text-align:center;
        padding:10px;
}
#wrapper {background-color:grey;
	  margin-left:auto;
          margin-right:auto;
          mid-width:700px;
          max-width:1024px;
	  box-shadow:drop shadow effect;
    color:white;
      
}